{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
    <div class="page-info">
        <img src="https://images.habbo.com/c_images/web_promo_small/spromo_DivineStatue_May22.png"   alt="Page Info Image">
        <div class="page-info--content">
            <h1>Shop</h1>
            <span>Achetez des objets grâce aux points que vous avez récolté !</span>
        </div>
    </div>
{% endblock %}
