{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<div class="staff-rank flx-column">
    <div class="rank-title w-100">
        <h2>Liste des objets disponibles</h2>
    </div>

    <div class="shop-items-global">
        <div class="item">
            <img src="https://images.habbo.com/c_images/web_promo_small/spromo_lambo.png" alt="Lambo" />
            <div class="item-infos">
                <h3>Habbo Vroum</h3>
                <p>Voiture de luxe</p>
                <p>1398 <img src="https://media.discordapp.net/attachments/1294636724429000724/1294679658847145994/icon_299.png?ex=670c8ca4&is=670b3b24&hm=32a7f2cf98ebd64928bc3bcbf7ca66b4a6c0cce374a7d8262f0320f4479f2eae&=&format=webp&quality=lossless&width=36&height=36" style="position: relative; top: 3px;" /></p>
                <button class="btn-shop">Acheter</button>
            </div>
        </div>

        <div class="item">
            <img src="https://images.habbo.com/c_images/web_promo_small/spromo_motorbike.png" alt="Lambo" />
            <div class="item-infos">
                <h3>Habbo mini Vroum</h3>
                <p>Pour aller très vite...</p>
                <p>1398 <img src="https://media.discordapp.net/attachments/1294636724429000724/1294679658847145994/icon_299.png?ex=670c8ca4&is=670b3b24&hm=32a7f2cf98ebd64928bc3bcbf7ca66b4a6c0cce374a7d8262f0320f4479f2eae&=&format=webp&quality=lossless&width=36&height=36" style="position: relative; top: 3px;" /></p>
                <button class="btn-shop">Acheter</button>
            </div>
        </div>

    </div>

</div>



{% endblock %}
